<div class="modal-header">
    <button type="button" class="close" data-dixsiss="modal" aria-label="Close" ng-click="vm.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    <h5 class="modal-title" data-ng-bind="vm.title"></h5>
</div>
<div class="modal-body" bs-loading-overlay="ovl-formulario-cliente">
    <div class="form-group" ng-show="vm.tipoFormulario==3">
        <div class="col-md-12">
            <a href="javascript:" ng-click="vm.tipoFormulario=2"><i class="glyphicon glyphicon-edit"></i> Editar</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Codigo de cliente</label>
            <input type="text" class="form-control input-sm" value="{{vm.cliente.cod_clie}}" ng-if="vm.tipoFormulario!=1" readonly>
            <input type="text" class="form-control input-sm" ng-model="vm.cliente.cod_clie" ng-if="vm.tipoFormulario==1">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Nombres y apellidos</label>
            <input type="text" class="form-control input-sm" value="{{vm.cliente.mon_ape}}" ng-if="vm.tipoFormulario==3" readonly>
            <input type="text" class="form-control input-sm" ng-model="vm.cliente.mon_ape" ng-if="vm.tipoFormulario!=3">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>DNI</label>
            <input type="text" class="form-control input-sm" value="{{vm.cliente.dni}}" ng-if="vm.tipoFormulario==3" readonly>
            <input type="text" class="form-control input-sm" ng-model="vm.cliente.dni" ng-if="vm.tipoFormulario!=3">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Telefono</label>
            <input type="text" class="form-control input-sm" value="{{vm.cliente.telef}}" ng-if="vm.tipoFormulario==3" readonly>
            <input type="text" class="form-control input-sm" ng-model="vm.cliente.telef" ng-if="vm.tipoFormulario!=3">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Direccion</label>
            <input type="text" class="form-control input-sm" value="{{vm.cliente.dir}}" ng-if="vm.tipoFormulario==3" readonly>
            <input type="text" class="form-control input-sm" ng-model="vm.cliente.dir" ng-if="vm.tipoFormulario!=3">
        </div>
    </div>
</div>
<div class="modal-footer">
    <div ng-if="vm.tipoFormulario==1||vm.tipoFormulario==2">
        <button class="btn btn-primary btn-sm" ng-click="vm.guardar()">Guardar</button>
        <button class="btn btn-default btn-sm" ng-click="vm.close()">Cancelar</button>
    </div>
    <div ng-if="vm.tipoFormulario==3">
        <button class="btn btn-default btn-sm" ng-click="vm.close()">Cerrar</button>
    </div>
</div>